<template>
  <div class="panel panel-default">
        <div class="panel-heading">Milling</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h2 style="margin-top:0px">Windmills</h2>
                    <p>You currently own {{ windmills }} windmills.</p>
                    <p>These will grind {{ grainProcessingAmount }} kg of grain per run.</p>
                    <button class="btn btn-success" @click="grindGrain($event)" id="grindMill">Grind the grain</button>
                    <p v-if="grindingCountdown > 0">Grinding grain: {{ grindingCountdown }}s remaining</p>
                    <p>A windmill costs {{ formatPrice(windmillPrice) }} and grind {{ windmillGrindCapacity }} kg of grain per run.</p>
                    <button class="btn btn-info" @click="buildWindmill">Build windmill</button>
                </div>
                <div class="col-md-6">
                    <h2 style="margin-top:0px">Flour</h2>
                    <p>Current flour stock: {{ flour }} kg</p>
                    <p>Current flour price: {{ formatPrice(flourPrice) }} per 1000 kg </p>
                    <button class="btn btn-danger" @click="sellFlour">Sell flour</button>
                    <p>You currently own {{ flourSilos }} flour silo's with {{ siloTotalSpace }} kg space remaining. Any surplus is can't be stored and will be thrown away.</p>
                    <h2 style="margin-top:0px">Buy extra silo's</h2>
                    <p>A silo costs {{ formatPrice(flourSiloPrice) }} and can contain {{ flourSiloCapacity }} kg of flour.</p>
                    <button class="btn btn-info" @click="buySilo">Buy extra silo</button>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
export default {
    props: ['flour', 'flourSilos', 'flourSiloCapacity', 'flourSiloPrice', 'windmills', 'windmillPrice', 'windmillGrindCapacity', 'grainToBeGrinded'],
    data() {
        return {
            flourPrice: 100,
            grindingCountdown: 0
        }
    },
    computed: {
        siloTotalSpace: function() {
            return (this.flourSilos * this.flourSiloCapacity) - this.flour;
        },
        grainProcessingAmount: function() {
            return this.windmills * this.windmillGrindCapacity;
        }
    },
    methods: {
        sellFlour() {
            var income = (this.flour / 1000) * this.flourPrice;
            this.$emit("sellFlour", income);
        },
        buySilo() {
            this.$emit("buyFlourSilo");
        },
        buildWindmill() {
            this.$emit("buildWindmill");
        },
        grindGrain: async function(event) {
            event.target.disabled = true;
            this.$emit('startGrindingGrain');
        },
        calculateFlourPrice: function() {
            return parseFloat((parseFloat(Math.round((Math.floor(Math.random() * 500)) * 100) / 100) * 1.5) * 100 / 100);
        },
        formatPrice: function(price) {
            return price.toLocaleString('nl-NL', { style: 'currency', currency: 'EUR' });
        },
        sleep: function(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    },
    mounted() {
        var self = this;
        self.calculateFlourPrice();
        setInterval(function () {
            self.$data.flourPrice = self.calculateFlourPrice();
        }, 5000);
    },
    watch: {
        grainToBeGrinded: async function(newValue, oldValue) {
            if(newValue > 0 && oldValue == 0 && this.grindingCountdown == 0) {
                this.grindingCountdown = 10;
                var partialGrind = (this.windmillGrindCapacity * this.windmills) / 10;
                while(this.grindingCountdown > 0) {
                    await this.sleep(1000);
                    this.$emit("partialGrind", partialGrind);
                    this.grindingCountdown -= 1;
                    console.log("countdown: " + this.grindingCountdown);
                    if(this.grindingCountdown == 0) {
                        document.getElementById("grindMill").disabled = false;
                    }
                }
            }
        }
    }
}
</script>
