<template>
    <div class="panel panel-default">
        <div class="panel-heading">You found oil on your land!</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-7">
                    <h2 style="margin-top:0px">Oil</h2>
                    <p>You currently have {{ barrels }} barrel(s) with a capacity of {{ totalCapacity }} L.</p>
                    <p>Current oil level: {{ oil }} L</p>
                    <button class="btn btn-success" @click="pumpingOil">Pump oil</button>
                    <p>Current oil price: {{ formatPrice(oilPrice) }} per L</p>
                    <button class="btn btn-danger" @click="sellOil">Sell Oil</button>
                    <h2 style="margin-top:0px">Buy extra oil barrels</h2>
                    <p>An extra oil barrel can contain {{ barrelCapacity }} L and has a price of {{ formatPrice(barrelPrice) }}</p>
                    <button class="btn btn-info" @click="purchaseBarrel">Buy oil barrel</button>
                </div>
                <div class="col-md-5" v-if="level > 3">
                    <h2 style="margin-top:0px">Automated Oil pumps</h2>
                    <p>An oil pump uses 1 energy per second and produces 1 oil per second.</p>
                    <p>You currently own: {{ oilPumps }} oil pumps</p>
                    <p>A new oil pump costs: {{ formatPrice(oilPumpPrice) }}</p>
                    <p>You can sell an oil pump at 75% of it's costs: {{ formatPrice((oilPumpPrice / 105) * 100) }}</p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info" @click="purchaseOilPump">Buy Oil Pump</button>
                        <button type="button" class="btn btn-warning" @click="sellOilPump">Sell Oil Pump</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['level', 'oil', 'barrels', 'barrelCapacity', 'barrelPrice', 'oilPumps', 'oilPumpPrice'],
    data() {
        return {
            oilPrice: 10,
            pumping: false
        }
    },
    computed: {
        totalCapacity() {
            return this.barrels * this.barrelCapacity;
        }
    },
    methods: {
        purchaseOilPump() {
            this.$emit('purchaseOilPump');
        },
        sellOilPump() {
            this.$emit('sellOilPump');
        },
        purchaseBarrel() {
            this.$emit('purchaseBarrel');
        },
        sellOil() {
            var income = this.oil * this.oilPrice;
            this.$emit('sellingOil', income);
        },
        pumpingOil() {
            this.$emit('pumpingOil');
        },
        calculateOilPrice() {
            return Math.floor(Math.random() * 20);
        },
        formatPrice: function(price) {
            return price.toLocaleString('nl-NL', { style: 'currency', currency: 'EUR' });
        },
        sleep: function(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    },
    mounted() {
        if(this.oilPumps > 0) {
            this.pumping = true;
        }
        var self = this;
        this.oilPrice = self.calculateOilPrice();
        setInterval(function () {
            self.$data.oilPrice = self.calculateOilPrice();
        }, 5000);
    },
    watch: {
        oilPumps(newValue, oldValue) {
            if(newValue > 0) {
                this.pumping = true;
            } else {
                this.pumping = false;
            }
        },
        pumping(newValue, oldValue) {
            if(newValue) {
                setInterval(() => {
                    this.$emit("pumpTick");
                }, 1000);
            }
        }
    }
}
</script>
