<template>
    <div class="affix" style="width:30%">
        <div class="panel panel-default">
            <div class="panel-heading">
                Welcome {{ name }}
                <button class="btn btn-xs btn-success pull-right" v-if='name != "Guest"' @click="saveForLeaderboard($event)">Save for leaderboard</button>
            </div>
            <div class="panel-body">
                <p><strong>Available money: </strong> {{ formatPrice(money) }}</p>
                <p><strong>Your current level: </strong> {{ level }}</p>
                <p>
                    <strong>Cash needed to reach a next level: </strong><br>
                    &euro; {{ nextLevel }}
                </p>
                <h3>Stock:</h3>
                <strong>Grain ({{ grain }} / {{ maxGrain }} kg)</strong>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" :aria-valuenow="grain" aria-valuemin="0" :aria-valuemax="maxGrain" :style="{ width: grainPercentage + '%' }">
                    </div>
                </div>
                <strong v-if="level > 1">Flour ({{ flour }} / {{ maxFlour }} kg)</strong>
                <div class="progress" v-if="level > 1">
                    <div class="progress-bar progress-bar-info" role="progressbar" :aria-valuenow="flour" aria-valuemin="0" :aria-valuemax="maxFlour" :style="{ width: flourPercentage + '%' }">
                    </div>
                </div>
                <strong v-if="level > 2">Oil ({{ oil }} / {{ maxOil }} L)</strong>
                <div class="progress" v-if="level > 2">
                    <div class="progress-bar progress-bar-danger" role="progressbar" :aria-valuenow="oil" aria-valuemin="0" :aria-valuemax="maxOil" :style="{ width: oilPercentage + '%' }">
                    </div>
                </div>
                <strong v-if="level > 3">Energy ({{ energy }} / {{ maxEnergy }})</strong>
                <div class="progress" v-if="level > 3">
                    <div class="progress-bar progress-bar-warning" role="progressbar" :aria-valuenow="energy" aria-valuemin="0" :aria-valuemax="maxEnergy" :style="{ width: energyPercentage + '%' }">
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    props: ['name', 'level', 'nextLevel', 'money', 'grain', 'grainSiloContent', 'grainSilos', 'flour', 'flourSilos', 'flourSiloCapacity', 'oil', 'barrels', 'barrelCapacity', 'energy', 'energyStorages', 'energyStorageCapacity'],
    computed: {
        grainPercentage() {
            return (this.grain / this.maxGrain) * 100;
        },
        maxGrain() {
            return this.grainSiloContent * this.grainSilos;
        },
        flourPercentage() {
            return (this.flour / this.maxFlour) * 100;
        },
        maxFlour() {
            return this.flourSiloCapacity * this.flourSilos;
        },
        oilPercentage() {
            return (this.oil / this.maxOil) * 100;
        },
        maxOil() {
            return this.barrelCapacity * this.barrels;
        },
        energyPercentage() {
            return (this.energy / this.maxEnergy) * 100;
        },
        maxEnergy() {
            return this.energyStorageCapacity * this.energyStorages;
        }
    },
    methods: {
        formatPrice: function(price) {
            return price.toLocaleString('nl-NL', { style: 'currency', currency: 'EUR' });
        },
        saveForLeaderboard(event) {
            event.target.disabled = true;
            event.target.innerHTML = "Saving...";
            setTimeout(() => {
                event.target.disabled = false;
            event.target.innerHTML = "Save for leaderboard";
            }, 1750);
            this.$emit("saveForLeaderboard");
        }
    }
}
</script>
